{% extends 'main/base.html' %}

{% block page-title %}Home{% endblock %}

{% block page-header %}Welcome in Rallyman Online{% endblock %}

{% block page-body %}

<h4>It's rally time!</h4>

<p class="mt-4">
    At the wheel of your rally car, fight in wild stages!
</p>
<p>
    Gears, notes, turns, skids, apex, bumps, snow, choice of tires, off-roads, heavy attack, stopwatch, assistance ... all the ingredients are here for an amazing rally simulation!<br />
    Between steering finesse and risk management, will you be able to win the scratch?
</p>

{% if user.is_anonymous %}
<div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    As an unregistered user, you can only access to a limited number of features.<br />
    We invite you to <a href="{% url 'auth-signup' %}">sign-up</a> in order to fully enjoy the game.
</div>
{% endif %}

<nav>
    <a href="{% url 'main-lobby' %}?rly_stat={{ const.lobby.rallies.RallyStatus.STARTED }}" class="btn btn-primary">
        Spectate a running rally
    </a>

    <a
        {% if not user.is_anonymous %}
            href="{% url 'main-lobby' %}?rly_stat={{ const.lobby.rallies.RallyStatus.OPENED }}&usr_part=False" class="btn btn-primary"
        {% else %}
            href="#" class="btn btn-secondary" data-toggle="tooltip" title="You must sign-up in order to Join a rally"
        {% endif %}
    >
        Join a opened rally
    </a>

    <a
        {% if user.is_anonymous %}
            class="btn btn-secondary" href='#' data-toggle="tooltip" title="You must sign-up in order to Create a rally"
        {% else %}
            id="btnCreateModal" class="btn btn-primary" href="{% url 'rally-create' %}" data-toggle="modal" data-target="#GenericModal"
        {% endif %}
    >
        Create a new rally
    </a>

    <a
        {% if user.is_anonymous %}
            href="#" class="btn btn-secondary" data-toggle="tooltip" title="You must sign-up in order to Manage your rallies"
        {% else %}
            href="{% url 'main-lobby' %}?rly_crea=me" class="btn btn-primary"
        {% endif %}
    >
        Manage the rallies you have created
    </a>
</nav>

{% endblock %}

{% block extra_script %}

<script>

    $('#btnCreateModal').click(function() {
        loadElementContentFromUrl('GenericModalContent', $(this).prop('href'));
    });

</script>

{% endblock %}
