{% extends 'main/base.html' %}
{% load widget_tweaks %}

{% block page-title %}Lobby{% endblock %}

{% block page-header %}Lobby{% endblock %}

{% block page-body %}

<style>

    .rallies-list td, .rallies-list th {
        text-align: center;
    }
    .rallies-list th.orderable {
        cursor: pointer;
    }
    .rallies-list-tooltip p {
        text-align: left;
    }

    #btnResetContainer {
        display: none;
        {#margin-left: 7px;#}
    }
    #btnRefresh {
        {#margin-left: 7px;#}
    }

</style>

<div class="row">

    <!-- Filter -->
    <div class="col-lg-12">
        <form class="form-inline" method="get" action="{% url 'main-lobby' %}" id="formFilter">
            Filter by
            <div class="form-group ml-2">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <label for="{{ form_filter.rly_stat.id_for_label }}" class="input-group-text">Rally status</label>
                    </div>
                    {% render_field form_filter.rly_stat class+='form-control' %}
                </div>
            </div>

            {% if not user.is_anonymous %}
            <div class="form-group ml-2">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <label for="{{ form_filter.usr_part.id_for_label }}" class="input-group-text">Rallies I participate in</label>
                    </div>
                    {% render_field form_filter.usr_part class+='form-control' %}
                </div>
            </div>
            {% endif %}

            {% if not user.is_anonymous %}
            <div class="form-group ml-2">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <label for="{{ form_filter.rly_crea.id_for_label }}" class="input-group-text">Rally creator</label>
                    </div>
                    {% render_field form_filter.rly_crea class+='form-control' %}
                </div>
            </div>
            {% endif %}

            <div class="form-group ml-2">
                <div class="input-group">
                    <a id="btnRefresh" type="submit" class="btn btn-primary btrr-0 bbrr-0" href="#" onclick="document.getElementById('formFilter').submit()">
                        <i class="fas fa-sync"></i> Apply filter
                    </a>
                    <div class="input-group-append">
                        {% include 'main/generic/help_button.html' with title='Apply filter' content='Applies the selected filters to the list of rallies.' %}
                    </div>
                </div>
            </div>

            <div class="form-group ml-2" id="btnResetContainer">
                <div class="input-group">
                    <a id="btnReset" class="btn btn-warning btrr-0 bbrr-0" href="#" role="reset">
                        <i class="fas fa-ban"></i> Reset filter
                    </a>
                    <div class="input-group-append">
                        {% include 'main/generic/help_button.html' with title='Reset filter' content='Resets the filter and reloads the default list of rallies.' %}
                    </div>
                </div>
            </div>

            <div style="display:none;">
                {% render_field form_filter.ord_b %}
                {% render_field form_filter.ord_w %}
            </div>
        </form>
    </div>

    <!-- Pagination : number of items in page -->
    <div class="col-lg-12 mt-3">
        <div style="display:inline-block">
            Show
        </div>
        <div style="display:inline-block">
            {% render_field form_pgps.available_page_sizes class='form-control' %}
        </div>
        <div style="display:inline-block">
            of {{ rallies_total }} rallies
        </div>
        <div style="display:none;">
            {% render_field form_pgps.selected_page_size class="form-control" %}
        </div>
        {% if not user.is_anonymous %}
        <div class="form-group ml-2 float-right">
            <a id="btnCreateModal" href="{% url 'rally-create' %}" class="btn btn-primary" data-toggle="modal" data-target="#GenericModal">
                <i class="far fa-plus-square"></i> Create Rally
            </a>
        </div>
        {% endif %}
    </div>

    <!-- List -->
    <div class="rallies-list col-lg-12 mt-1">
        <table class="table table-sm" style="display: table">
        <thead>
            <tr>
                <th class="orderable" onclick="orderByColumnClicked('label');">Rally name</th>
                <th>Participants</th>
                <th>Stages</th>
                <th class="orderable" onclick="orderByColumnClicked('status');">Rally status</th>
                <th class="orderable" onclick="orderByColumnClicked('creator');">Created by</th>
                <th class="orderable" onclick="orderByColumnClicked('opened_at');">Rally opens at</th>
                <th class="orderable" onclick="orderByColumnClicked('started_at');">Rally starts at</th>
                {% if not user.is_anonymous %}
                <th>Join</th>
                <th>Quit</th>
                <th>Delete</th>
                {% endif %}
                {% if user.is_superuser %}
                    <th>Admin</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for rally in rallies %}
            <tr>
                <td>
                    {% if rally.label|length > const.lobby.rallies.RALLY_LABEL_MAX_LENGTH_IN_LIST %}
                        <span title="{{ rally.label }}">{{ rally.label|slice:const.lobby.rallies.RALLY_LABEL_MAX_LENGTH_IN_LIST_SLICE }}...</span>
                    {% else %}
                        {{ rally.label }}
                    {% endif %}
                </td>
                <td>
                    <a href="#" class="btn btn-secondary btn-sm"
                    {% if rally.participants_count > 0 %}
                        data-toggle="tooltip" data-html="true"
                        data-title="<div class='rallies-list-tooltip'>
                                        <h5>Participants</h5>
                                        <p>
                                        {% for part in rally.participants %}
                                            {{ part.player.get_full_name }}<br />
                                        {% endfor %}
                                        </p>
                                    </div>"
                    {% endif %}
                    >
                        {{ rally.participants_count }}
                    </a>
                </td>
                <td>
                    <a href="#" class="btn btn-secondary btn-sm"
                    {% if rally.stages_count > 0 %}
                        data-toggle="tooltip" data-html="true"
                        data-title="<div class='rallies-list-tooltip'>
                                        <h5>Stages</h5>
                                        <p>
                                        {% for stage in rally.stages %}
                                            <strong>SS {{ forloop.counter }}</strong>: {{ stage.roadbook_as_label }}
                                            <br />
                                        {% endfor %}
                                        </p>
                                    </div>"
                    {% endif %}
                    >
                        {{ rally.stages_count }}
                    </a>
                </td>
                <td>{{ rally.status|lower|capfirst }}</td>
                <td>{{ rally.creator.get_full_name }}</td>
                <td>{{ rally.opened_at }}</td>
                <td>{{ rally.started_at }}</td>

                {% if not user.is_anonymous %}
                <td>
                    {% if rally.is_joignable %}
                    <a id="btnJoinModal_{{ rally.id }}" href="{% url 'rally-register' pk=rally.id %}" class="btn btn-primary btn-sm"
                        data-toggle="modal" data-target="#GenericModal">
                        <i class="fas fa-sign-in-alt"></i>
                    </a>
                    {% endif %}
                </td>
                <td>
                    {% if rally.is_quitable %}
                    <a id="btnQuitModal_{{ rally.id }}" href="{% url 'rally-unregister' pk=rally.id %}" class="btn btn-warning btn-sm"
                        data-toggle="modal" data-target="#GenericModal">
                        <i class="fas fa-sign-out-alt"></i>
                    </a>
                    {% endif %}
                </td>
                <td>
                    {% if rally.is_deletable and rally.creator == user %}
                    <a id="btnDeleteModal_{{ rally.id }}" href="{% url 'rally-delete' pk=rally.id %}" class="btn btn-danger btn-sm"
                        data-toggle="modal" data-target="#GenericModal">
                        <i class="far fa-trash-alt"></i>
                    </a>
                    {% endif %}
                </td>
                {% endif %}

                {% if user.is_superuser %}
                <td>
                    <a href="/admin/main/rally/{{ rally.id }}/change/" class="btn btn-primary btn-sm" target="_blank">
                        <i class="fas fa-user-shield"></i>
                    </a>
                </td>
                {% endif %}
            </tr>
        {% empty %}
            <tr><td colspan="{% if user.is_superuser %}11{% else %}10{% endif %}">No rallies found.</td></tr>
        {% endfor %}
        </tbody>
        </table>

        <!-- Pagination navigation  -->
        {% if rallies_total > form_pgps.selected_page_size.value %}
        <div class="float-sm-right">
            <ul class="pagination ">

            <!-- Previous button -->
            {% if rallies.number > 1 %}
            {% if has_filter %}
                <li class="page-item"><a class="page-link" href="{{ page_url }}&_pgpi={{ rallies.previous_page_number }}{% if pgps %}&_pgps={{ pgps }}{% endif %}">&laquo;</a></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="{{ page_url }}?_pgpi={{ rallies.previous_page_number }}{% if pgps %}&_pgps={{ pgps }}{% endif %}">&laquo;</a></li>
            {% endif %}
            {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">&laquo;</a></li>
            {% endif %}

            <!-- Slot buttons -->
            {% for page_button in pages_list %}
            {% if page_button == 0 %}
                <li class="paginate_button disabled">
                    <a href="#">…</a>
                </li>
            {% else %}
                <li class="page-item {% if page_button == rallies.number %} active{% endif %}"
                    tabindex="{{ page_button }}">
                    {% if has_filter %}
                        <a class="page-link" href="{{ page_url }}&_pgpi={{ page_button }}{% if pgps %}&_pgps={{ pgps }}{% endif %}">{{ page_button }}</a>
                    {% else %}
                        <a class="page-link" href="{{ page_url }}?_pgpi={{ page_button }}{% if pgps %}&_pgps={{ pgps }}{% endif %}">{{ page_button }}</a>
                    {% endif %}
                </li>
            {% endif %}
            {% endfor %}

            <!-- Next button -->
            {% if rallies.number < rallies.paginator.num_pages %}
            {% if has_filter %}
                <li class="page-item"><a class="page-link" href="{{ page_url }}&_pgpi={{ rallies.next_page_number }}{% if pgps %}&_pgps={{ pgps }}{% endif %}">&raquo;</a></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="{{ page_url }}?_pgpi={{ rallies.next_page_number }}{% if pgps %}&_pgps={{ pgps }}{% endif %}">&raquo;</a></li>
            {% endif %}
            {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">&raquo;</a></li>
            {% endif %}
            </ul>
        </div>
    {% endif %}
    </div>

</div>

<script>

    let elem_tenant_by_page = $('#available_page_sizes');
    elem_tenant_by_page.change(function() {
        let tenant_per_page = elem_tenant_by_page[0].value;
        $('#show_number_tenant').val(tenant_per_page);
        sendFilterForm();
    });
    function sendFilterForm() {
        $('input').each(function() {
            if($(this).val() === '') {
                $(this).remove();
            }
        });
        $('select').each(function() {
            if($(this).val() === '') {
                $(this).remove();
            }
        });
        $('#filter_form').submit();
    }

    let btnResetContainer = $('#formFilter #btnResetContainer');
    {#let btnReset = $('#formFilter #btnReset');#}
    let btnReset = $('#formFilter #btnResetContainer [role="reset"]');
    let inputFilterUserParticipation = $('#{{ form_filter.usr_part.id_for_label }}');
    let inputFilterRallyStatus = $('#{{ form_filter.rly_stat.id_for_label }}');
    let inputFilterRallyCreator = $('#{{ form_filter.rly_crea.id_for_label }}');
    let formFilter = $('#formFilter');
    let inputOrderBy = $('#{{ form_filter.ord_b.id_for_label }}');
    let inputOrderWay = $('#{{ form_filter.ord_w.id_for_label }}');

    let btnCreateModal = $('#btnCreateModal');

    function orderByColumnClicked(column_name) {
        inputOrderBy.val(column_name);

        if (inputOrderWay.val() === 'd') {
            inputOrderWay.val('a');
        } else {
            inputOrderWay.val('d');
        }
        formFilter.submit();
    }

    function isResetRequired() {
        {% if not user.is_anonymous %}
        if ((inputFilterRallyStatus.val() !== '')
            || (inputFilterUserParticipation.val() !== '')
            || (inputFilterRallyCreator.val() !== '')) {
            return true;
        }
        {% else %}
        if (inputFilterRallyStatus.val() !== '') {
            return true;
        }
        {% endif %}
    }

    function loadElementContentFromUrl(elem_id, url) {
        let elem = $('#' + elem_id);
        elem.html('');
        $.ajax({
            url: url,
            success: function(data, status, xhr) {
                elem.html(data);
            },
            error: function(xhr, status, data) {
                elem.html(data);
            }
        });
    }

    $(document).ready(function() {

        inputFilterUserParticipation.change(function() {
            btnResetContainer.show();
        });
        inputFilterRallyStatus.change(function() {
            btnResetContainer.show();
        });
        inputFilterRallyCreator.change(function() {
            btnResetContainer.show();
        });

        btnReset.click(function() {
            inputFilterUserParticipation.val('');
            inputFilterRallyStatus.val('');
            inputFilterRallyCreator.val('');
            formFilter.submit();
        });
        $('#id_available_page_sizes').change(function() {
            let url = '{{ page_url|safe }}';
            {% if has_filter %}
            url += '&_pgps=' + $(this).val();
            {% else %}
            url += '?_pgps=' + $(this).val();
            {% endif %}

            window.location.href = url;
            // todo : navigate
        });

        btnCreateModal.click(function() {
            loadElementContentFromUrl('GenericModalContent', $(this).prop('href'));
        });

        {% if not user.is_anonymous %}
        {% for rally in rallies %}

        {% if rally.is_joignable %}
        let btnJoinModal_{{ rally.id }} = $('#btnJoinModal_{{ rally.id }}');
        btnJoinModal_{{ rally.id }}.click(function() {
            loadElementContentFromUrl('GenericModalContent', $(this).prop('href'));
        });
        {% endif %}

        {% if rally.is_quitable %}
        let btnQuitModal_{{ rally.id }} = $('#btnQuitModal_{{ rally.id }}');
        btnQuitModal_{{ rally.id }}.click(function() {
            loadElementContentFromUrl('GenericModalContent', $(this).prop('href'));
        });
        {% endif %}

        {% if rally.is_deletable and rally.creator == user %}
        let btnDeleteModal_{{ rally.id }} = $('#btnDeleteModal_{{ rally.id }}');
        btnDeleteModal_{{ rally.id }}.click(function() {
            loadElementContentFromUrl('GenericModalContent', $(this).prop('href'));
        });
        {% endif %}

        {% endfor %}
        {% endif %}


        if (isResetRequired()) {
            btnResetContainer.show();
        }

    });

</script>

{% endblock %}
