{% extends 'main/base.html' %}
{% load widget_tweaks %}

{% block page-header %}Lobby{% endblock %}

{% block page-body %}

<style>
    .rallies-list td, .rallies-list th {
        text-align: center;
    }

    th.orderable {
        cursor: pointer;
    }
</style>

<div class="row">

    <div class="rallies-list col-lg-12">
        <form class="form-inline" method="get" action="{% url 'main-lobby' %}" id="formFilter">
            Filter by&nbsp;
            <div class="form-group">
                <label for="{{ form_filter.rally_status.id_for_label }}">&nbsp;Rally status&nbsp;:&nbsp;</label>
                {% render_field form_filter.rally_status class+='form-control' %}
            </div>

            {% if not user.is_anonymous %}
            <div class="form-group">
                <label for="{{ form_filter.user_participation.id_for_label }}">&nbsp;Rallies I participate in&nbsp;:&nbsp;</label>
                {% render_field form_filter.user_participation class+='form-control' %}
            </div>

            <div class="form-group">
                <label for="{{ form_filter.rally_creator.id_for_label }}">&nbsp;Rally creator&nbsp;:&nbsp;</label>
                {% render_field form_filter.rally_creator class+='form-control' %}
            </div>
            {% endif %}

            <button type="submit" class="btn btn-primary" style="margin-left: 7px">Refresh</button>
            <button id="btnReset" class="btn btn-warning" style="display: none; margin-left: 7px">Reset</button>

            <div style="display:none;">
                {% render_field form_filter.order_by %}
                {% render_field form_filter.order_way %}
            </div>
        </form>

        <table class="table table-responsive" style="margin-top: 7px">
        <thead>
            <tr>
                <th onclick="orderByColumnClicked('label');" class="orderable">Rally name</th>
                <th>Number of participants</th>
                <th>Number of ES</th>
                <th onclick="orderByColumnClicked('status');" class="orderable">Rally status</th>
                <th onclick="orderByColumnClicked('creator');" class="orderable">Creator of the rally</th>

                {% if not user.is_anonymous %}
                <th>Action</th>
                {% endif %}

            </tr>
        </thead>
        <tbody>
        {% for rally in user_rallies %}
            <tr>
                <td>{{ rally.label }}</td>
                <td>{{ rally.participants_count }}</td>
                <td>{{ rally.stages_count }}</td>
                <td>{{ rally.status|lower|capfirst }}</td>
                <td>{{ rally.creator.get_full_name }}</td>

                {% if not user.is_anonymous %}
                <td>
                    {% if rally.is_joignable %}
                    <button class="btn btn-primary">Join</button>
                    {% endif %}
                    {% if rally.is_quitable %}
                    <button class="btn btn-primary">Quit</button>
                    {% endif %}
                </td>
                {% endif %}

            </tr>
        {% empty %}
            <tr><td colspan="5">You don't have a rally in progress.</td></tr>
        {% endfor %}
        </tbody>
        </table>
    </div>

</div>

<script>

    let btnReset = $('#formFilter #btnReset');
    let inputFilterUserParticipation = $('#{{ form_filter.user_participation.id_for_label }}');
    let inputFilterRallyStatus = $('#{{ form_filter.rally_status.id_for_label }}');
    let inputFilterRallyCreator = $('#{{ form_filter.rally_creator.id_for_label }}');
    let formFilter = $('#formFilter');
    let inputOrderBy = $('#{{ form_filter.order_by.id_for_label }}');
    let inputOrderWay = $('#{{ form_filter.order_way.id_for_label }}');

    function orderByColumnClicked(column_name) {
        inputOrderBy.val(column_name);

        if (inputOrderWay.val() === 'desc') {
            inputOrderWay.val('asc');
        } else {
            inputOrderWay.val('desc');
        }
        formFilter.submit();
    }

    $(document).ready(function() {

        inputFilterUserParticipation.change(function() {
            btnReset.show();
        });
        inputFilterRallyStatus.change(function() {
            btnReset.show();
        });
        inputFilterRallyCreator.change(function() {
            btnReset.show();
        });

        btnReset.click(function() {
            inputFilterUserParticipation.val('');
            inputFilterRallyStatus.val('');
            inputFilterRallyCreator.val('');
            formFilter.submit();
        });

        if ((inputFilterUserParticipation.val() !== '')
            || (inputFilterRallyStatus.val() !== '')
            || (inputFilterRallyCreator.val() !== '')) {
            btnReset.show();
        }

    });

</script>

{% endblock %}
