{% load widget_tweaks %}
{% load maintags %}

{% with 'Stage_'|concat:stage_num as oStage %}
<input type="hidden" id="{{oStage}}_SectionsCount" name="{{oStage}}_sections_count" value="{% if stage.sections|length > 0 %}{{ stage.sections|length }}{% else %}1{% endif %}">

<div class="panel mt-4" id="{{ oStage }}_Stage">
    <div class="panel-header mb-2">
        <h4 class="modal-title">Stage {{ stage_num }}</h4>
    </div>

    <div class="panel-body">
        <div class="row" id="{{ oStage }}_SectionsList">
        {% for section in stage.sections %}
            {% include 'main/rally_edit_stage_section.html' with stage_num=stage_num section_num=forloop.counter section=section %}
        {% empty %}
            {% include 'main/rally_edit_stage_section.html' with stage_num=stage_num section_num=1 %}
        {% endfor %}
        </div>
    </div>

    <div class="panel-footer">
        <div class="form-inline">
            <a href="#" class="btn btn-primary" onclick="_o{{oStage}}.addSection()">Add section</a>

            <div class="input-group ml-3">
                <div class="input-group-text">
                    <input type="checkbox" id="{{oStage}}_has_assistance" name="{{oStage}}_has_assistance" title="Set assistance">
                </div>
                <div class="input-group-append">
                    <label class="input-group-text" for="{{oStage}}_has_assistance">Ends with assistance</label>
                    {% include 'main/generic/help_button.html' with title='Ends with assistance' content='<p>Check this option if you want to allow an assistance at the end of this stage.<br />Players will be able to repair their car before the next stage.</p><p>Otherwise, players will go directly to the next stage without any repair possibility.</p>' %}
                </div>
            </div>

            {% if stage_num != 1 %}<!-- No removeStageBtn for first stage because this stage is mandatory -->
            <div class="input-group ml-3"><!-- Unsaved stage button -->
                <a id="{{ oStage }}_removeStageBtnUnsaved" class="btn btn-warning mr-3" href="#"
                   data-toggle="tooltip" data-html="true"
                   data-title="You must <strong>Save the roadbook</strong> in order to preserve the configuration of this stage, otherwise it will be lost if you <strong>Remove unsaved stages</strong>"
                   style="display: none"
                >
                    <i class="fas fa-exclamation-triangle"></i> Unsaved stage
                </a>

            </div>
            <div class="input-group ml-3"><!-- Remove [unsaved] stage[s] button -->
                <a id="{{ oStage }}_removeStageBtn" class="btn btn-danger" href="#"
                   onclick="stageEditor.removeStage({{ stage_num }})"
                   style="display: none"
                >
                    <i class="fas fa-trash-alt"></i> <span id="{{ oStage }}_removeStageBtnLabel">Remove last stage</span>
                </a>
                <div class="input-group-append">
                    {% include 'main/generic/help_button.html' with id=oStage|add:'_removeStageBtnUnsavedHelp' hide=True title='Remove unsaved stages' content='<p>Removes unsaved stages from the roadbook.</p><p>All stages that has not been saved yet will be removed from the roadbook.</p>' %}
                    {% include 'main/generic/help_button.html' with id=oStage|concat:'_removeStageBtnHelp' hide=True title='Remove last stage' content='<p>Removes <strong>Stage'|concat:stage_num|concat:'</strong> from the roadbook.</p>' %}
                </div>
            </div>
            {% endif %}

        </div>
    </div>
</div>

<script>

    let _o{{oStage}} = Object();
    _o{{oStage}}.sectionsCount = $('#{{oStage}}_SectionsCount');
    _o{{oStage}}.sectionsList = $('#{{oStage}}_SectionsList');

    _o{{oStage}}.addSection = function() {
        let _lp = '_o{{oStage}}.addSection: ';
        let url = '{% url 'rally-edit-add-section' pk=rally.id stage_num=stage_num %}';
        url += '?section_num=' + (parseInt(_o{{oStage}}.sectionsCount.val()) + 1);
        $.ajax({
            url: url,
            success: function(data, status, xhr) {
                _o{{oStage}}.sectionsList.append(data);
                $('#{{ oStage }}_' + _o{{oStage}}.sectionsCount.val() + '_removeBtn').hide();
                _o{{oStage}}.sectionsCount.val(parseInt(_o{{oStage}}.sectionsCount.val()) + 1);
            },
            error: function(xhr, status, data) {
                console.log(_lp+' ' + xhr.status + 'Error while calling url : ' + url + ' : ' + data);
            }
        })
    };

    _o{{oStage}}.removeSection = function(section_num) {
        let _sectionName = '#{{ oStage }}_' + section_num;
        $(_sectionName).remove();
        _o{{oStage}}.sectionsCount.val(parseInt(_o{{oStage}}.sectionsCount.val()) - 1);
        $('#{{ oStage }}_' + _o{{oStage}}.sectionsCount.val() + '_removeBtn').show();
    };

    $(document).ready(function() {

        if (stageEditor.stagesListSaved < {{ stage_num }}) {
            $('#{{ oStage }}_removeStageBtnUnsaved').show();
        }

        if (stageEditor.getStagesCount() !== stageEditor.stagesListSaved) {
            $('#{{ oStage }}_removeStageBtnLabel').html('Remove unsaved stages');
        }

        if (stageEditor.getStagesCount() === {{ stage_num }}) {
            if (stageEditor.getStagesCount() > stageEditor.stagesListSaved) {
                $('#{{ oStage }}_removeStageBtn').hide();
                $('#{{ oStage }}_removeStageBtnHelp').hide();
                $('#{{ oStage }}_removeStageBtnUnsaved').show();
                $('#{{ oStage }}_removeStageBtnUnsavedHelp').show();
            }
            else if (stageEditor.getStagesCount() === stageEditor.stagesListSaved) {
                $('#{{ oStage }}_removeStageBtnUnsaved').hide();
                $('#{{ oStage }}_removeStageBtnUnsavedHelp').hide();
                $('#{{ oStage }}_removeStageBtn').show();
                $('#{{ oStage }}_removeStageBtnHelp').show();
            }
            $('#{{ oStage }}_removeStageBtn').show();
        }

        $('[data-toggle="tooltip"]').tooltip();

    });

</script>

{% endwith %}
