{% load widget_tweaks %}

<form method="POST" action="{% url 'rally-create' %}?redirect=main-lobby">
{% csrf_token %}

    <div class="modal-header">
        <h4 class="modal-title">Create a Rally</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>

    <div class="modal-body">

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Rally name</span>
            </div>
            {% render_field form_create.label class+='form-control' %}
            <div class="input-group-append">
                {% include 'main/generic/help_button.html' with title='Rally name' content='Choose a name for your rally.' %}
            </div>
        </div>

        <div class="input-group">
            <label class="input-group-text" style="border-top-right-radius: 0; border-bottom-right-radius: 0; border-bottom-left-radius: 0" for="{{ form_create.set_opened_at.id_for_label }}">
                Defer opening date
            </label>
            <div class="input-group-append">
                <div class="input-group-text">
                    {% render_field form_create.set_opened_at %}
                </div>
                {% include 'main/generic/help_button.html' with title='Defer opening date' content='<p>Check this option if you want to lock registrations until a custom <strong>deferred opening date</strong>.</p><p>Registration will be available after the given date.<br />Otherwise, the registration will be opened as soon as the rally is created.<br />In both cases, registration closes when the rally starts.</p>' %}
            </div>
        </div>
        <div class="input-group" id="{{ form_create.opened_at.id_for_label }}_help">
            <div class="input-group-prepend">
                <span class="input-group-text" style="border-top-left-radius: 0">
                    Registration will be open as soon as the rally is created
                </span>
            </div>
        </div>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" style="border-top-left-radius: 0">
                    Registration will be open from
                </span>
            </div>
            {% render_field form_create.opened_at class+='form-control' %}
            <div class="input-group-append">
                {% include 'main/generic/help_button.html' with title='Date format' content='<p>Please respect below date format:<br />YYYY-MM-DD HH:MM:SS</p><p>Examples:<br />2018-12-31 23:59:59<br />2019-01-01 00:00:00</p>' %}
            </div>
        </div>

    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>

</form>

<script>

    $(document).ready(function() {

        let checkboxSetOpenAt = $('#{{ form_create.set_opened_at.id_for_label }}');
        let inputOpenAt = $('#{{ form_create.opened_at.id_for_label }}');
        let groupOpenAtHelp = $('#{{ form_create.opened_at.id_for_label }}_help');

        checkboxSetOpenAt.click(function() {
            if ($(this).prop('checked')) {
                groupOpenAtHelp.hide();
                inputOpenAt.parent().show();
            } else {
                inputOpenAt.parent().hide();
                groupOpenAtHelp.show();
            }
        });

        inputOpenAt.parent().hide();

        $('[data-toggle="tooltip"]').tooltip();
    });

</script>
