{% extends 'main/rally_edit_base.html' %}
{% load widget_tweaks %}

{% block page-title %}Edit rally participants{% endblock %}

{% block page-header %}Edit rally participants{% endblock %}

{% block page-body %}

{% if error %}
<p>
    An error occurred while retrieving participants of the rally.
</p>
<div>Error details:
    <pre class="error-details">{{ error }}</pre>
</div>
<p>
    Please contact an administrator if you can't solve the problem.
</p>
{% else %}

<style>

    #ParticipantsList th, #ParticipantsList td {
        text-align: center;
    }

</style>
<form method="POST" action="{% url 'rally-edit-participants' pk=rally.id %}?redirect=rally-edit-participants&redirect_pk={{ rally.id }}">
    {% csrf_token %}

    <div class="input-group mb-3 shadow">
        <div class="input-group-prepend">
            <span class="input-group-text">Rally name</span>
        </div>
        <input type="text" value="{{ rally.label }}" class="form-control" title="Rally name" readonly="readonly">
    </div>

    <table id="ParticipantsList" class="table" style="display: table">
        <tr>
            <th>Position</th>
            <th>Name</th>
            <th>Car skin</th>
            <th>Change position</th>
            <th>Kick</th>
            {% if user.is_superuser %}
            <th>Admin</th>
            {% endif %}
        </tr>
        {% for participation in participations %}
        <tr>
            <td>
                <p>#{{ participation.turn_position }}</p>
            </td>
            <td>
                <p>{{ participation.player.get_full_name }}</p>
            </td>
            <td>
                <img src="/static/main/car_skins/{{ participation.car_skin.file }}" width="16" />
            </td>
            <td>
                {% if participation.turn_position > 1 %}
                <a href="#" id="btnChangePositionUp_{{ participation.player.id }}" class="btn btn-primary btn-sm"><i class="fas fa-angle-up"></i></a>
                {% endif %}
                {% if participation.turn_position < participations|length %}
                <a href="#" id="btnChangePositionDown_{{ participation.player.id }}" class="btn btn-primary btn-sm"><i class="fas fa-angle-down"></i></a>
                {% endif %}
            </td>
            <td>
                <a href="{% url 'rally-kick-participant' pk=rally.id uid=participation.player.id %}" type="button" class="btn btn-danger btn-sm" id="btnKickParticipant_{{ participation.player.id }}" data-toggle="modal" data-target="#GenericModal">
                    <i class="fas fa-trash-alt"></i>
                </a>
            </td>

            {% if user.is_superuser %}
            <td>
                {% include 'main/generic/link_to_bo.html' with instance=participation size='sm' %}
            </td>
            {% endif %}
        </tr>
        {% empty %}
        <tr>
            <td colspan="{% if user.is_superuser %}6{% else %}5{% endif %}">
                Rally has no participants yet.
            </td>
        </tr>
        {% endfor %}
    </table>

    <div class="float-right">
        {% if rally.available_slots_count > 0 %}
        <a href="{% url 'rally-invite-participant' pk=rally.id %}" class="btn btn-primary" id="btnInviteParticipant" data-toggle="modal" data-target="#GenericModal">
            Invite participant
        </a>
        {% else %}
        <a href="#" class="btn btn-secondary" data-toggle="tooltip" title="All slots are taken. It is not possible to invite a new participant.">
            Invite participant
        </a>
        {% endif %}
    </div>
</form>

<script>

    $('#btnInviteParticipant').click(function() {
        loadElementContentFromUrl('GenericModalContent', $(this).prop('href'));
    });

    {% for participation in participations %}
    $('#btnKickParticipant_{{ participation.player.id }}').click(function() {
        loadElementContentFromUrl('GenericModalContent', $(this).prop('href'));
    });

    $('#btnChangePositionUp_{{ participation.player.id }}').click(function() {
        changePlayerPosition({{ participation.player.id }}, 'up');
    });
    $('#btnChangePositionDown_{{ participation.player.id }}').click(function() {
        changePlayerPosition({{ participation.player.id }}, 'down');
    });

    {% endfor %}

    function changePlayerPosition(playerId, way) {
        let _url = '{% url "rally-edit-participant-change-position" pk=rally.id %}';
        let _data = {
            csrfmiddlewaretoken: '{{ csrf_token }}',
            player_id: playerId,
            change_way: way,
        };
        Debug.storeAjaxCall(_url, _data);
        $.ajax({
            url: _url,
            method: 'POST',
            data: _data,
            success: function(data, status, xhr) {
                window.location.href = "{% url 'rally-edit-participants' pk=rally.id %}";
            },
            error: function(xhr, status, data) {
                Debug.storeAjaxResult(_url, xhr, status, data);
            }
        });
    }

</script>
{% endif %}

{% endblock %}
