{% comment %}
    This generic template renders a quick help tooltiped button.

    Parameters:
        title   <str> : Title of the tooltip
        content <str> : Content of the tooltip
        id      <str> : Optionnal. ID of the generated button
        hide    <bool>: Optionnal. Hides the button if set, otherwise the button is visible by default
        style   <str> : Optionnal. Adds styles to the generated button
        class   <str> : Optionnal. Adds clases to the generated button
    Example:
        {% include 'main/generic/help_button.html' with title='Some tooltip title' content='Some tooltip content.' %}
{% endcomment %}
<a href="#" class="btn btn-secondary {% if class %}{{ class }}{% endif %}" {% if id %}
   id="{{ id }}"{% endif %}
   data-toggle="tooltip" data-html="true"
   title="<h1>{{ title }}</h1>
       {{ content|safe }}"
   style="{% if hide %}display: none; {% endif %}{% if style %}{{ style }}{% endif %}"
>
    <i class="fas fa-question-circle"></i>
</a>
