
/* Navigation */
.tooltip div.tooltip-inner {
    min-width: 100px;
    max-width: 400px;
}
.tooltip div.tooltip-inner h1 {
    font-size: 1.2rem;
}
.tooltip div.tooltip-inner p {
    text-align: left;
}
.dropdown-item-group {
    margin-left: 10px;
    font-weight: bold;
}

/* Page layout */
.main-page-content {
    /* PageContent must adapt to the height of navbar and footer in accordance with their respective formulas */
    margin-top: 56px;     /* = navbar height */
    margin-bottom: 120px; /* = footerHeight + 20px */
}
footer {
    position: fixed;
    height: 100px;        /* Default height of footer */
    bottom: 0;
    width: 100%;
}
#MainPageConsole {
    padding: 3px;
    border: 1px #ced4da solid;
    background-color: #e9ecef;
    font-family: "Courier New", Courier, serif;
    font-size: 0.8em;

    /* default */
    display: none;
}

/* Shortcuts */
a.btrr-0, label.btrr-0, span.btrr-0 {
    border-top-right-radius: 0 !important;
}
a.btrr-1, label.btrr-1, span.btrr-1 {
    border-top-right-radius: .25rem !important;
}
a.bbrr-0, label.bbrr-0, span.bbrr-0 {
    border-bottom-right-radius: 0 !important;
}
a.bbrr-1, label.bbrr-1, span.bbrr-1 {
    border-bottom-right-radius: .25rem !important;
}
a.bblr-0, label.bblr-0, span.bblr-0 {
    border-bottom-left-radius: 0 !important;
}
a.bblr-1, label.bblr-1, span.bblr-1 {
    border-bottom-left-radius: .25rem !important;
}
a.btlr-0, label.btlr-0, span.btlr-0 {
    border-top-left-radius: 0 !important;
}
a.btlr-1, label.btlr-1, span.btlr-1 {
    border-top-left-radius: .25rem !important;
}

/* Errors */
pre.error-details {
    color: #721c24;;
    border: 1px #f5c6cb solid;
    background-color: #f8d7da;
    padding: 7px;
}
